.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.page {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  background: transparent;
  cursor: pointer;
}

.page:hover {
  background: #ffc36a;
}

.active {
  background: #e67a37;
  font-weight: bold;
}
